<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vast+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vast+Shadow&display=swap" rel="stylesheet">
    <link href="https://dummyimage.com/16:9x1080/" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bird</h1>
            <nav>
                <a href="#">Bird</a>
                <a href="pages/nature.html">Nature</a>
                <a href="pages/colors.html">Colors</a>
            </nav>
        </header>
        <main>
            <aside>
                <h2>Nature</h2>
                <p>Sed euismod nisi porta lorem mollis aliquam. Sit amet aliquam id diam maecenas ultricies. Tellus at urna condimentum mattis pellentesque. Tortor at risus viverra adipiscing at in tellus integer feugiat. Nunc congue nisi vitae suscipit tellus. Quam viverra orci sagittis eu volutpat odio facilisis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, quos, deserunt fugit beatae facilis quasi culpa aperiam, sunt aspernatur voluptates ab! Ipsum consectetur architecto molestias libero mollitia, earum deleniti voluptatibus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia ipsa optio repellendus, quod culpa nihil molestiae dolores explicabo iusto repellat quaerat magnam fugiat aspernatur dolorem, consequatur architecto! Labore, voluptates adipisci!</p>
            </aside>
            <h2>Colors</h2>
            <p>Sit amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Consequat nisl vel pretium lectus quam. Gravida arcu ac tortor dignissim convallis aenean et tortor at. Pharetra et ultrices neque ornare aenean euismod elementum nisi quis. Aenean vel elit scelerisque mauris pellentesque. Etiam erat velit scelerisque in dictum non. Varius duis at consectetur lorem donec massa sapien, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, laboriosam dolor nemo sint dignissimos molestias, optio consequatur delectus aut autem ducimus necessitatibus deserunt officiis non laborum accusamus odit deleniti iure. Neque viverra justo nec ultrices dui sapien. Sit amet cursus sit amet dictum sit amet. Felis donec et odio pellentesque diam volutpat commodo. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et magnis dis parturient montes nascetur.</p>
            <p>Non nisi est sit amet facilisis magna. Massa eget egestas purus viverra. Urna cursus eget nunc scelerisque viverra mauris in aliquam. Eget lorem dolor sed viverra ipsum nunc. Neque viverra justo nec ultrices dui sapien. Sit amet cursus sit amet dictum sit amet. Felis donec et odio pellentesque diam volutpat commodo. Euismod elementum nisi quis eleifend quam adipiscing vitae. Et magnis dis parturient montes nascetur. Sagittis eu volutpat odio facilisis.Aenean vel elit scelerisque mauris pellentesque. Etiam erat velit scelerisque in dictum non. Varius duis at consectetur lorem donec massa sapien, Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, laboriosam dolor nemo sint dignissimos molestias, optio consequatur delectus aut autem ducimus necessitatibus deserunt officiis non laborum accusamus odit deleniti iure.</p>
            <img src="images/hummingbird.webp" alt="hummingbird" id="hummingbird">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum veritatis voluptate omnis, consequuntur dolorum repellendus ab porro quasi numquam ullam aspernatur eligendi assumenda accusantium distinctio nihil architecto debitis molestiae laudantium. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum delectus sed cupiditate officiis pariatur dolorum, quod autem, natus reprehenderit mollitia ipsa deleniti voluptatibus minus est aperiam voluptatem numquam repudiandae dolorem.</p>
            <p>Erat pellentesque adipiscing commodo elit at imperdiet dui. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida neque. Quis varius quam quisque id diam vel quam. Id aliquet risus feugiat in ante metus dictum at. Est sit amet facilisis magna etiam tempor orci eu lobortis. Risus at ultrices mi tempus imperdiet nulla malesuada. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius itaque a quaerat molestiae. Voluptatibus eius harum, error quaerat similique minima tenetur nostrum modi earum possimus id, placeat vitae assumenda. Repudiandae.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur illum libero distinctio aliquam saepe, minus ad cupiditate dolorem, magnam dignissimos dolores excepturi, dicta quo? Inventore dolorum atque possimus tempora blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam dolorum illo maiores doloremque consectetur. Repellat eligendi alias repellendus eos at, est minus, distinctio odio harum eius excepturi dolores natus qui?</p>
        </main>
    </div>
    
</body>
</html>